<div class="clearfix bgNav"></div>
<div class="container-fluid main">
    <div class="row-fluid">
        <div class="row-fluid container" style="margin-top:10px; width:98%">


            <div class="row-fluid">
                <div class="span12" style="text-align:center;">
                    <form>
                        <div>{{'USER.USERNAME' |i18n}}<input type="text" ng-model="user.user_name"/></div>
                        <div>{{'USER.PASSWORD' |i18n}}<input type="password" ng-model="user.password"/></div>
                        <div><!-- style="text-align: right"-->
                            <button type="button" ng-click="login();" class="btn btn-success">{{'USER.LOGIN' |i18n}}</button>
                            <button type="reset" class="btn btn-danger">{{'BASE.RESET_INPUT' |i18n}}</button>

                            <button type="button" ng-click="elasticsearch_user_save();" class="btn btn-success">{{'保存用户'}}</button>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>